/* Navbar */

.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #4E56C0;
    font-size: 2rem;
}

.nav-link{
    font-size: 1.1rem !important;
    color: #0D1164 !important;
}